.data-card {
    background: var(--bg-elevation-1);
    border: 1px solid var(--border-low-emphasis);
    border-radius: 12px;
    padding: 32px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    flex-direction: column;
    gap: 20px;
    display: flex;
    height: 250px;

    .data-row {
        display: flex;
        gap: 60px;
        align-items: flex-start;
        justify-content: space-between;

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 32px;
            align-items: center;
        }

        app-data-block {
            flex: 1;
            min-width: 0;
            display: flex;
            justify-content: center;

            @media (max-width: 768px) {
                justify-content: center;
            }
        }
    }
}